In [6]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import yfinance as yf
import math
import plotly.graph_objects as go
import plotly.express as px
from tqdm import tqdm
from functions import *
from tickers_list import *
sns.set_style('whitegrid')

In [7]:
## HARDCODE VALUES

stocks = ["LUPIN.NS", "VOLTAS.NS", "YESBANK.NS"]

INITIAL_AMT_INVESTED = 10000
NUM_OF_SIMULATIONS = 1000
start_date='2023-01-01'
end_date='2023-12-31'

In [65]:
tickers = yf.Tickers(stocks)
hist_data = tickers.history(period='1y', progress=True)

[*********************100%***********************]  3 of 3 completed

In [66]:
hist_data.Dividends

            LUPIN.NS  VOLTAS.NS  YESBANK.NS
Date
2023-05-22       0.0        0.0         0.0
2023-05-23       0.0        0.0         0.0
2023-05-24       0.0        0.0         0.0
2023-05-25       0.0        0.0         0.0
2023-05-26       0.0        0.0         0.0
...              ...        ...         ...
2024-05-14       0.0        0.0         0.0
2024-05-15       0.0        0.0         0.0
2024-05-16       0.0        0.0         0.0
2024-05-17       0.0        0.0         0.0
2024-05-21       0.0        0.0         0.0

[245 rows x 3 columns]

In [74]:
def fetch_data(stock_list, start_date, end_date, period=None, dividend=True):
    
    """Returns stock_price_df, stock_dividend_df"""
    
    tickers = yf.Tickers(stock_list)
    
    if start_date is not None:
        historical_data = tickers.history(start=start_date, end=end_date)
    if period is not None:
        historical_data = tickers.history(period=period)
    
    if dividend:    
        return historical_data.Close, historical_data.Dividends
    else:
        return historical_data.Close

In [75]:
## GATHER STOCK PRICES

stock_prices, stock_dividend = fetch_data(stocks, start_date='2023-01-01', end_date='2023-12-31')

## CALCULATE LOG RETURNS

log_returns = np.log(stock_prices/stock_prices.shift(1))[1:]

[*********************100%***********************]  3 of 3 completed

In [78]:
log_returns

            LUPIN.NS  VOLTAS.NS  YESBANK.NS
Date
2023-01-03  0.006935   0.007014    0.018307
2023-01-04 -0.004550  -0.003036   -0.032261
2023-01-05  0.011168   0.004457    0.004673
2023-01-06 -0.006415   0.006281   -0.016452
2023-01-09  0.015794   0.006790    0.007084
...              ...        ...         ...
2023-12-22  0.006582   0.005237   -0.004739
2023-12-26  0.013777   0.019231   -0.004762
2023-12-27  0.004162   0.019681    0.000000
2023-12-28  0.039542  -0.013952   -0.004785
2023-12-29 -0.012768   0.006975    0.028371

[244 rows x 3 columns]

In [79]:
portfolio_weights = []
portfolio_returns = []
portfolio_risks = []
NUM_TRADING_DAYS = len(stock_prices)


## MONTE CARLO SIMULATION

for i in tqdm(range(NUM_OF_SIMULATIONS)):
    
    ## STEP-I: generating random weights
    w = np.random.rand(log_returns.shape[1])
    w = np.expand_dims(w, axis=0)
    w = w/np.sum(w)
    portfolio_weights.append(w)
    
    ## STEP-II: calculating returns using average annual returns
    p_returns = (log_returns.mean() @ w.T*NUM_TRADING_DAYS)[0]
    portfolio_returns.append(p_returns)
    
    ## STEP-III: calculating risks
    p_risks = np.sqrt(w @ log_returns.cov()*NUM_TRADING_DAYS @ w.T)[0][0]
    portfolio_risks.append(p_risks)

100%|████████████████████████████████████████████████████████████████████████████| 1000/1000 [00:00<00:00, 1008.00it/s]

In [80]:
portfolio_weights = np.array(portfolio_weights)
portfolio_returns = np.array(portfolio_returns)
portfolio_risks = np.array(portfolio_risks)

## CALCULATING SHARPE RATIO

# taking IR of government issued 10-year bonds as risk-free rate
risk_free_rate = 0.07

sharpe_ratios = (portfolio_returns - risk_free_rate) / portfolio_risks

In [81]:
## OPTIMIZED WEIGHTS

index = np.argmax(sharpe_ratios)
optimized_weights = portfolio_weights[index].flatten()

num_of_shares = INITIAL_AMT_INVESTED*optimized_weights/stock_prices.iloc[0,:]
num_of_shares = np.expand_dims(num_of_shares, axis=0)

In [82]:
## CALCULATING PORTFOLIO VALUE
portfolio_value = np.sum(num_of_shares*np.array(stock_prices), axis=1)

## PORTFOLIO DATAFRAME
df_portfolio = num_of_shares*stock_prices
df_portfolio['PORTFOLIO_VALUE'] = portfolio_value

In [91]:
sorted_returns = (df_portfolio['PORTFOLIO_VALUE']/df_portfolio['PORTFOLIO_VALUE'].shift(1) - 1)[1:]
sorted_returns = sorted_returns.sort_values()
sorted_returns

Date
2023-02-13   -0.074585
2023-02-10   -0.039575
2023-12-20   -0.029462
2023-12-04   -0.025559
2023-09-22   -0.024580
                ...
2023-05-08    0.036122
2023-07-27    0.036439
2023-08-03    0.037274
2023-06-21    0.048627
2023-04-18    0.054739
Name: PORTFOLIO_VALUE, Length: 244, dtype: float64

In [107]:
def VaR(sorted_array, confidence_level):
    index = round((1 - confidence_level)*len(sorted_array))
    return sorted_array[index]*100

In [114]:
VaR(sorted_returns, 0.999)

-7.4585347194302205

In [ ]:
def CVaR(sorte)